<link rel="stylesheet" href="<%= assetFingerprint('/css/courses/courses.css') %>">

<% include ../layouts/header.ejs %>
<% include ../layouts/admin-layouts/layout-courses.ejs %>

<a href="#" title="Вернуться к началу" class="topbutton"><i class="arrow up"></i></a>

<% include ../layouts/footer.ejs %>