<link rel="stylesheet" href="<%= assetFingerprint('/css/admin/properties.css') %>">

<% include ../layouts/header.ejs %>
<% include ../layouts/admin-layouts/layout-properties.ejs %>

<button class="scroll-to-top-btn"><i class="fas fa-arrow-up"></i></button>

<% include ../layouts/footer.ejs %>

<script src="<%= assetFingerprint('/js/backtotop.js') %>"></script>