<link rel="stylesheet" href="<%= assetFingerprint('/css/user/users.css') %>">
<link rel="stylesheet" href="<%= assetFingerprint('/css/support/button-up.css') %>">

<% include ../layouts/header.ejs %>
<% include ../layouts/admin-layouts/layout-users.ejs %>

<button class="scroll-to-top-btn"><i class="fas fa-arrow-up"></i></button>

<% include ../layouts/footer.ejs %>

<script src="<%= assetFingerprint('/js/backtotop.js') %>"></script>