<!DOCTYPE html>
<html lang="en">

<head>
  <title>QA.Live.Study</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="img/png" href="/img/logo_50x50.png" />
  <link rel="stylesheet" href="css/reboot.css" />
  <link rel="stylesheet" href="/css/courses/course-qa.css" />
  <link rel="stylesheet" href="/css/support/button-up.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
  <section class="section-manual">
    <div class="container">
      <h1 class="section-header pt-4 pb-4 text-center">
        Мануальное тестирование ПО
      </h1>
      <div class="text-center pb-5 d-flex justify-content-around">
        <a href="/" class="btn btn-outline-primary">Главная</a>
        <a href="/reg" class="btn btn-outline-warning">Регистрация</a>
        <a href="/login" class="btn btn-outline-success">Вход</a>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-12  mb-5 text-center border course-logo">
          <img src="/img/section-courses/manual-course.png" class="logo-img" alt="" />
        </div>

        <div class="col-md-4 col-sm-12 mb-5">
          <!-- Card -->
          <div class="course-about">
            <!-- Card image -->
            <div class="gdlr-lms-course-info-inner-wrapper">
              <img class="mb-4 card-img-top rounded-circle" data-holder-rendered="true"
                src="/img/courses-pages/author/pinchuk_da.jpg" alt="Author photo" />
            </div>
            <div class="course-info">
              <div class="gdlr-lms-info">
                <span class="head">Преподаватель:&nbsp;&nbsp;&nbsp;</span>
                <span class="tail"> Дмитрий Пинчук</span>
              </div>
              <div class="gdlr-lms-info">
                <span class="head">Тип:&nbsp;&nbsp;&nbsp;</span>
                <span class="tail"> Онлайн-курс</span>
              </div>
              <div class="gdlr-lms-info">
                <span class="head">Обучается студентов:&nbsp;&nbsp;&nbsp;</span>
                <span class="tail"> 25</span>
              </div>
              <div class="gdlr-lms-rating-wrapper">
                <i class="fa fa-star icon-star"></i>
                <i class="fa fa-star icon-star"></i>
                <i class="fa fa-star icon-star"></i>
                <i class="fa fa-star icon-star"></i>
                <i class="fa fa-star icon-star"></i>
                <span class="gdlr-lms-rating-amount">(1 Рейтинги)</span>
              </div>
            </div>
            <div class="course-button">
              <a href="/login" class="btn btn-primary text-uppercase">подписаться</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row pb-5">
        <div class="col-12">
          <div class="course-program-wrapper">
            <div class="row cursor-pointer">
              <div class="col-12 course-program-item">
                <i class="fa fa-graduation-cap circle mr-1"></i>
                <div class="pl-0">
                  <div class="font-bold">
                    <span class="title">Занятие #1. История возникновения тестирования</span>
                  </div>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Введение</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Конспект лекции</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Тесты</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="course-program-wrapper">
            <div class="row cursor-pointer">
              <div class="col-12 course-program-item">
                <i class="fa fa-graduation-cap circle mr-1"></i>
                <div class="pl-0">
                  <div class="font-bold">
                    <span class="title">Занятие #2. Введение в тестирование</span>
                  </div>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Введение</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Конспект лекции</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Тесты</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="course-program-wrapper">
            <div class="row cursor-pointer">
              <div class="col-12 course-program-item">
                <i class="fa fa-graduation-cap circle mr-1"></i>
                <div class="pl-0">
                  <div class="font-bold">
                    <span class="title">Занятие #3. Виды тестирования</span>
                  </div>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Введение</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Конспект лекции</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Тесты</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="course-program-wrapper">
            <div class="row cursor-pointer">
              <div class="col-12 course-program-item">
                <i class="fa fa-graduation-cap circle mr-1"></i>
                <div class="pl-0">
                  <div class="font-bold">
                    <span class="title">Занятие #4. Тестовая документация</span>
                  </div>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Введение</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Конспект лекции</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Тесты</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="course-program-wrapper">
            <div class="row cursor-pointer">
              <div class="col-12 course-program-item">
                <i class="fa fa-graduation-cap circle mr-1"></i>
                <div class="pl-0">
                  <div class="font-bold">
                    <span class="title">Занятие #5. Практика по написанию тест-кейсов</span>
                  </div>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Введение</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Практика</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Тесты</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Домашнее задание</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="course-program-wrapper">
            <div class="row cursor-pointer">
              <div class="col-12 course-program-item">
                <i class="fa fa-graduation-cap circle mr-1"></i>
                <div class="pl-0">
                  <div class="font-bold">
                    <span class="title">Занятие #5. Тест-дизайн</span>
                  </div>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Введение</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Конспект лекции</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Тесты</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="course-program-wrapper">
            <div class="row cursor-pointer">
              <div class="col-12 course-program-item">
                <i class="fa fa-graduation-cap circle mr-1"></i>
                <div class="pl-0">
                  <div class="font-bold">
                    <span class="title">Занятие #6. Практика по написанию баг-репортов</span>
                  </div>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Введение</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Практика</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Тесты</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Домашнее задание</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="course-program-wrapper">
            <div class="row cursor-pointer">
              <div class="col-12 course-program-item">
                <i class="fa fa-graduation-cap circle mr-1"></i>
                <div class="pl-0">
                  <div class="font-bold">
                    <span class="title">Занятие #7. Web и клиент-серверная архитектура</span>
                  </div>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Введение</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Web</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Клиент-серверная архитектура</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Протоколы запросов</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Методы протоколов</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Коды состояния</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Заголовки</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Тесты</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="course-program-wrapper">
            <div class="row cursor-pointer">
              <div class="col-12 course-program-item">
                <i class="fa fa-graduation-cap circle mr-1"></i>
                <div class="pl-0">
                  <div class="font-bold">
                    <span class="title">Занятие #8. Практическое занятие по dev-tools и
                      firebug</span>
                  </div>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Введение</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Практика</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Тесты</span>
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-code"></i><span>Домашнее задание</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center pb-5 d-flex justify-content-around">
        <a href="/" class="btn btn-primary">Главная</a>
        <a href="/reg" class="btn btn-warning">Регистрация</a>
        <a href="/login" class="btn btn-success">Вход</a>
      </div>
    </div>
  </section>

  <button class="topbutton"><i class="fas fa-arrow-up"></i></button>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="/js/backtotop.js"></script>
</body>

</html>