<div class="text-center pt-3 bg-primary pb-3 error-bg">
           <a href="/"><img src="/img/logo_300x300.png" class="logo" alt=""></a>
            <h1 class="font-weight-bold display-3 text-danger pb-4">
                404
            </h1>
            <a href="/" class="mb-4 text-center btn btn-light btn-lg">Перейти на главную</a>
            <div class="text-center mb-3">
                <img src="/img/img_process.png" class="text-center" alt="">
            </div>
            <h3 class="text-danger">Page not found</h3>
        </div>
</div>
