<div class="text-center pt-3 bg-primary pb-3">
    <div class="container" style="
    max-width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: relative;">
        <div class="pb-3"><a href="/"><img src="/img/logo_300x300.png" alt="" style="height: 150px;"></a></div>
        <h1 class="font-weight-bold display-3 text-danger pb-4">
            404
        </h1>
        <div class="text-center pb-4">
            <a href="/" class="btn btn-light btn-lg">Перейти на главную</a>
        </div>
        <div class="text-center mb-3">
            <img src="/img/img_process.png" class="text-center" alt="" width="40%">
        </div>
        <h3 class="text-danger">Page not found</h3>
    </div>
</div>
