<div class="user-account">
    <div class="container">
        <h1 class="account-header pt-5 pb-5 text-center">Аккаунт пользователя</h1>
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <div class="user-bar">
                    <div class="bar-header">
                        <div class="header-img">
                            <img src="/img/courses-pages/author/pinchuk_da.jpg" alt="User photo" width="70" height="70">
                        </div>
                        <div class="header-content">
                            <span class="welcome">Привет,</span>
                            <span class="grey-text text-darken-4"><%=user.email%></span>
                            <span class="role">Студент</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <ul class="bar-body">
                        <li class="current"><a href="#!" class="collection-item grey-text text-darken-4">Мои курсы</a></li>
                        <li class=""><a href="#!" class="collection-item grey-text text-darken-4">Профиль</a></li>
                        <li class=""><a href="#!" class="collection-item grey-text text-darken-4">Редактировать профиль</a></li>
                        <li class=""><a href="#!" class="collection-item grey-text text-darken-4">Изменить пароль</a></li>
                        <li><a href="#!" class="collection-item grey-text text-darken-4">Ответы к тестам</a></li>
                        <li><a href="#!" class="collection-item grey-text text-darken-4">Как пользоваться платформой</a></li>
                        <li class=""><a href="#!" class="collection-item grey-text text-darken-4">Подписка</a></li>
                    </ul>
                    <div class="bar-footer">
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-8">
                <div class="user-courses">
                    <h3 class="courses-header">Мои курсы</h3>
                </div>
                <div class="courses-content">
                    <table class="content-table table-striped table">
                        <thead>
                        <tr>
                            <th class="teal lighten-2">Имя курса</th>
                            <th class="teal lighten-2">Прогресс</th>
                            <th class="teal lighten-2">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="pl-4">Мануальное тестирование ПО</td>
                            <td class="pl-4">12%</td>
                            <td><a href="#!" type="button" class="btn btn-info d-block btn-lg">Продолжить</a></td>
                        </tr>
                        <tr>
                            <td class="pl-4">Курс по Java для тестировщиков</td>
                            <td class="pl-4">78%</td>
                            <td><a href="#!" type="button" class="btn btn-info d-block btn-lg">Продолжить</a></td>
                        </tr>
                        <tr>
                            <td class="pl-4">Курс по JavaScript для тестировщиков</td>
                            <td class="pl-4">100%</td>
                            <td><a href="#!" type="button" class="btn btn-info btn-lg d-block disabled">Завершен</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>