<form action="" class="needs-validation login d-none" novalidate>
    <div class="form-group">
        <label for="uname">Логин:</label>
        <input type="text" class="form-control" id="uname" placeholder="Введите логин" name="uname" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
        <label for="pwd">Пароль:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Введите пароль" name="pswd" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <!--                    <div class="form-group form-check">-->
    <!--                        <label class="form-check-label">-->
    <!--                            <input class="form-check-input" type="checkbox" name="remember" required>-->
    <!--                            <span class="small">Подтверждаю прочтение и полное согласие с условиями Пользовательского соглашения и Политикой конфиденциальности.</span>-->
    <!--                            <div class="valid-feedback">Valid.</div>-->
    <!--                            <div class="invalid-feedback">Установите этот флажок, чтобы продолжить</div>-->
    <!--                        </label>-->
    <!--                    </div>-->
    <div class="d-flex justify-content-between mt-4">
        <button type="submit" class="btn btn-success">Регистрация</button>
        <button type="submit" class="btn btn-primary">Авторизация</button>
    </div>
</form>