<section class="section-success">
    <div class="container">
        <div class="alert alert-success text-center">
            <strong>Успешно!</strong>
        </div>
        <div class="text-center">
            <a href="/login" class="btn btn-success">Перейти на страницу авторизации</a>
        </div>
    </div>
</section>