<section class="section-prices pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col s12 text-center">
                <h3 class="section-title">Тарифы</h3>
            </div>
        </div>
        <ul class="row list-unstyled">
            <li class="col-12 col-sm-12 col-md-4">
                    <div class="price-block border">
                        <header class="bg-primary text-white">
                            <h3 class="price-block-plan">Basic</h3>
                            <div class="price-block-price">
                                <p class="price-block-quantity">270<span class="price-block-currency">грн.&nbsp;(≈&nbsp;&#36;10)</span></p>
                                <p class="price-block-currency">в месяц</p>
                            </div>
                        </header>
                        <ul class="price-block-description list-unstyled">
                            <li>
                                <i class="fa fa-check text-primary" aria-hidden="true"></i>
                                Доступ к обучающей платформе на 1 месяц
                            </li>
                            <li>
                                <i class="fa fa-check text-primary" aria-hidden="true"></i>
                                Полный доступ ко всем курсам, кроме автоматизации
                            </li>
                            <li>
                                <i class="fa fa-check text-primary" aria-hidden="true"></i>
                                Фидбеки по домашним заданиям
                            </li>
                        </ul>
                        <footer class="bg-white text-center p-3">
                            <a href="#!" class="btn-large font-weight-bold">Оформить подписку</a>
                        </footer>
                    </div>
            </li>
            <li class="col-12 col-sm-12 col-md-4">
                    <div class="price-block border">
                        <header class="bg-primary text-white">
                            <h3 class="price-block-plan">Standart</h3>
                            <div class="price-block-price">
                                <p class="price-block-quantity">790<span class="price-block-currency">грн.&nbsp;(≈&nbsp;&#36;28)</span></p>
                                <p class="price-block-currency">месяц</p>
                            </div>
                        </header>
                        <ul class="price-block-description list-unstyled">
                            <li>
                                <i class="fa fa-check text-primary" aria-hidden="true"></i>
                                Доступ к обучающей платформе на 1 месяц
                            </li>
                            <li>
                                <i class="fa fa-check text-primary" aria-hidden="true"></i>
                                Полный доступ ко всем курсам, включая курсы по автоматизации
                            </li>
                            <li>
                                <i class="fa fa-check text-primary" aria-hidden="true"></i>
                                Методическое пособие (конспекты лекций, примеры кода)
                            </li>
                            <li>
                                <i class="fa fa-check text-primary" aria-hidden="true"></i>
                                Четыре индивидуальных занятий в месяц
                            </li>
                            <li>
                                <i class="fa fa-check text-primary" aria-hidden="true"></i>
                                Доступ в закрытый Slack-чат
                            </li>
                            <li>
                                <i class="fa fa-check text-primary" aria-hidden="true"></i>
                                Фидбеки по домашним заданиям
                            </li>
                            <li>
                                <i class="fa fa-check text-primary" aria-hidden="true"></i>
                                Возможность заказать индивидуальную консультацию и разбор всех домашних заданий
                            </li>
                        </ul>
                        <footer class="bg-white text-center p-3">
                            <a href="#!" class="btn-large font-weight-bold">Оформить подписку</a>
                        </footer>
                    </div>

            </li>
            <li class="col-12 col-sm-12 col-md-4">
                    <div class="price-block border">
                        <header class="bg-primary text-white">
                            <h3 class="price-block-plan">Premium</h3>
                            <div class="price-block-price">
                                <p class="price-block-quantity">2500<span class="price-block-currency">грн.&nbsp;(≈&nbsp;&#36;89)</span></p>
                                <p class="price-block-currency">месяц</p>
                            </div>
                        </header>
                        <ul class="price-block-description list-unstyled">
                            <li>
                                <i class="fa fa-check text-primary" aria-hidden="true"></i>
                                Все из тарифа Standart
                            </li>
                            <li>
                                <i class="fa fa-check text-primary" aria-hidden="true"></i>
                                Возможность учавствовать в премиальном обучении (практические онлайн занятия)
                            </li>
                            <li>
                                <i class="fa fa-check text-primary" aria-hidden="true"></i>
                                Индивидуальная проверка всех домашних заданий из каждого курса
                            </li>
                            <li>
                                <i class="fa fa-check text-primary" aria-hidden="true"></i>
                                Гарантированный сертификат о завершении каждого из курсов (отправляем заламинированный сертификат почтой)
                            </li>
                        </ul>
                        <footer class="bg-white text-center p-3">
                            <a href="#!" class="btn-large font-weight-bold">Оформить подписку</a>
                        </footer>
                    </div>
            </li>
        </ul>
    </div>
</section>
