<section class="section-events pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3 class="section-title">Фото с проведенных событий</h3>
            </div>
        </div>
        <div id="events" class="row section-events__img">
            <!--image gallery-->
        </div>
    </div>
</section>