<section class="section-articles pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3 class="section-title">Свежие статьи</h3>
            </div>
        </div>

        <div id="articles" class="section-articles__items">

            <% let LIMIT = 3; %>
            <% articles.slice(-LIMIT).forEach(article => { %>
                <div class='article-item item-transition '>
                    <a href="<%= article.redirectPageClickOnImg %>">
                        <img class='item-img' src='img/section-articles/articles-bg.png' alt=''>
                        <h3 class='item-text'><%= article.name %></h3>
                    </a>
                </div>
            <% }) %>

            <!--image gallery-->
        </div>
        <div class="section-articles__more">
            <input type="button" id="btnShowAllArticles" class="btn btn-courses" value="Читать все сатьи ▼" />
        </div>

        <!--            TODO    'Свернуть сатьи ▲'-->

    </div>

</section>