<section class="section-about pb-5 pt-5">
    <div class="container">
        <div class="row pb-5">
            <div class="col col-sm-12 col-md-12 col-lg-12 text-center text-light">
                <h3 class="section-title text-white">Информация о платформе QA.<span class="section-home__header-span">live.study</span></h3>
            </div>
        </div>
        <div class="row valign-wrapper">
            <div class="col col-sm-12 col-md-12 col-lg-4 text-center text-light">
                <div class="col col-sm-12 col-md-12 col-lg-12 section-home--margin-bottom-40">
                    <div class="section-home__company-statistic">
                        <div class="section-home__company-statistic-count">
                            3
                        </div>
                        <div class="section-home__company-statistic-description">
                            года<br> на рынке
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 section-home--margin-bottom-40">
                    <div class="section-home__company-statistic">
                        <div class="section-home__company-statistic-count">
                            100
                        </div>
                        <div class="section-home__company-statistic-description">
                            +<br> учащихся
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 text-center text-light item-transition">
                <a href="/"><img src="img/logo_300x300.png" class="" alt="" style="height: 250px;"></a>
            </div>
            <div class="col col-sm-12 col-md-12 col-lg-4 valid-wrapper text-center text-light">
                <div class="col col-sm-12 col-md-12 col-lg-12 section-home--margin-bottom-40">
                    <div class="section-home__company-statistic">
                        <div class="section-home__company-statistic-count">
                            6
                        </div>
                        <div class="section-home__company-statistic-description">
                            онлайн<br> курсов
                        </div>
                    </div>
                </div>
                <div class="col col-sm-12 col-md-12 col-lg-12 section-home--margin-bottom-40">
                    <div class="section-home__company-statistic">
                        <div class="section-home__company-statistic-count">
                            3
                        </div>
                        <div class="section-home__company-statistic-description">
                            потока<br> курсов
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-home__company-statistic">
                    <div class="section-home__company-statistic-count">
                        77%
                    </div>
                    <div class="section-home__company-statistic-description">
                        трудоустроенных<br> учащихся
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>