<footer class="footer bg-dark text-white pb-5 pt-5">
    <div class="container">
        <div class="row s12">
            <div class="col footer-item">
                <h3 class="text-uppercase mb-4 font-weight-bold footer-item__title">Курсы</h3>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Мануальное тестирование ПО</a></p>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Курс по Java для тестировщиков</a></p>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Курс по JavaScript для тестировщиков</a></p>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Автоматизация тестирования ПО на Java</a></p>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Автоматизация тестирования ПО на JavaScript</a></p>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Нагрузочное тестирование с использованием JMeter</a></p>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Тестирование API с использованием Postman</a></p>
            </div>
            <div class="col footer-item">
                <h3 class="text-uppercase mb-4 font-weight-bold footer-item__title">Вебинары</h3>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Архив вебинаров</a></p>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Предстоящие вебинары</a></p>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Записаться на вебинар</a></p>
            </div>
            <div class="col footer-item">
                <h3 class="text-uppercase mb-4 font-weight-bold footer-item__title">Справочник</h3>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Справочник по QA</a></p>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Справочник по Java</a></p>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Справочник по JavaScript</a></p>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Справочник по Selenium WebDrier</a></p>
            </div>
            <div class="col footer-item">
                <h3 class="text-uppercase mb-4 font-weight-bold footer-item__title">Статьи</h3>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Архив статей</a></p>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Актуальные статьи</a></p>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Рассказы тестировщиков о работе</a></p>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Форум пользователей</a></p>
            </div>
            <div class="col footer-item">
                <h3 class="text-uppercase mb-4 font-weight-bold footer-item__title">Услуги</h3>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Индивидуальные занятия</a></p>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Групповые занятия</a></p>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Тестовое собеседование</a></p>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Тестирование вашего функционала</a></p>
            </div>
            <div class="col footer-item">
                <h3 class="text-uppercase mb-4 font-weight-bold footer-item__title">О нас</h3>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Об авторах</a></p>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">О платформе</a></p>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Видео инструкция</a></p>
                <p class="footer-item__text"><a class="footer-item__link text-white" href="#!">Контакты</a></p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <ul class="socialIcons">
                <li class="facebook"><a href="#"><i class="fa fa-fw fa-facebook"></i>Facebook</a></li>
                <li class="twitter"><a href="#"><i class="fa fa-fw fa-twitter"></i>Twitter</a></li>
                <li class="instagram"><a href="#"><i class="fa fa-fw fa-instagram"></i>Instagram</a></li>
                <li class="skype"><a href="#"><i class="fa fa-fw fa-skype"></i>Skype</a></li>
                <li class="linkedin"><a href="#"><i class="fa fa-fw fa-linkedin"></i>LinkedIn</a></li>
            </ul>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center d-flex justify-content-center">
        <h3 class="footer-copyright">QA.live.study © 2018-2019 Все права защищены</h3>
    </div>
    <!-- Copyright -->
</footer>