<section class="section-statistics pb-5 pt-5 text-center text-light">
    <div class="container">
        <div class="row pb-5">
            <div class="col col-sm-12 col-md-12 col-lg-12">
                <h3 class="section-title text-white">Информация о платформе QA.<span class="text-danger">live.study</span></h3>
            </div>
        </div>
        <div class="row valign-wrapper">
            <div class="col col-sm-12 col-md-12 col-lg-4">
                <div class="col col-sm-12 col-md-12 col-lg-12 mb-5">
                    <div class="statistics-item">
                        <span class="statistics-count">
                            3
                        </span>
                        <span class="statistics-description">
                            года<br> на рынке
                        </span>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-5">
                    <div class="statistics-item">
                        <span class="statistics-count">
                            100
                        </span>
                        <span class="statistics-description">
                            +<br> учащихся
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <a href="/" class="company-logo-big"><img src="img/logo_300x300.png" alt="company-logo"></a>
            </div>
            <div class="col col-sm-12 col-md-12 col-lg-4 valid-wrapper">
                <div class="col col-sm-12 col-md-12 col-lg-12 mb-5">
                    <div class="statistics-item">
                        <span class="statistics-count">
                            6
                        </span>
                        <span class="statistics-description">
                            онлайн<br> курсов
                        </span>
                    </div>
                </div>
                <div class="col col-sm-12 col-md-12 col-lg-12 mb-5">
                    <div class="statistics-item">
                        <span class="statistics-count">
                            3
                        </span>
                        <span class="statistics-description">
                            потока<br> курсов
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="statistics-item">
                    <span class="statistics-count">
                        77%
                    </span>
                    <span class="statistics-description">
                        трудоустроенных<br> учащихся
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
