<footer class="footer bg-primary text-white pb-3 pt-3">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <ul class="social-icons">
                <li class="facebook"><a href="#"><i class="fa fa-fw fa-facebook"></i>Facebook</a></li>
                <li class="twitter"><a href="#"><i class="fa fa-fw fa-twitter"></i>Twitter</a></li>
                <li class="instagram"><a href="#"><i class="fa fa-fw fa-instagram"></i>Instagram</a></li>
                <li class="skype"><a href="#"><i class="fa fa-fw fa-skype"></i>Skype</a></li>
                <li class="linkedin"><a href="#"><i class="fa fa-fw fa-linkedin"></i>LinkedIn</a></li>
            </ul>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center d-flex justify-content-center">
        <h3 class="footer-copyright">QA.live.study &copy; 2018-2019 Все права защищены</h3>
    </div>
    <!-- Copyright -->
</footer>
