<section class="section-advantages pb-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col s12 text-center">
                <h3 class="section-title">Наши преимущества</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 bg-success">
                <div class="z-depth-4" >
                    <div class="pt-5 pb-3 pl-3 pr-3">
                        <h3 class="advantage-title">Кто мы</h3>
                        <ul class="advantage-description list-unstyled">
                            <li>— Онлайн-школа <span class="text-primary">[QA.</span><span class="text-danger">live.study</span><span class="text-primary">]</span> совмещает в себе преимущества онлайн обучения и живого взаимодействия с преподавателем. У нас более 3-х лет опыта проведения online курсов по Тестированию ПО и другим технологиям.</li>

                            <li>— Невероятно понятные и детальные лекции. Даже самые базовые понятия детально разобраны и разложены на молекулы. </li>

                            <li>— Видео лекции доступны 24/7, конспекты с ключевой информацией, тесты и упражнения для закрепления знаний.</li>

                            <li> — Основное домашнее задание, которое будет проверено нашей командой и как результат — вы получаете CodeReview в текстовом или видео формате.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 bg-secondary">
                <div class="z-depth-4">
                    <div class="pt-5 pb-3 pl-3 pr-3">
                        <h3 class="advantage-title">Одна цена за все курсы</h3>
                        <p class="advantage-description">
                            Оформив подписку, которая оплачивается один раз в месяц, вы автоматически получаете доступ ко всем обучающим курсам, размещенным на нашем сайте.
                            <br>
                            Как показала практика, помесячная оплата более удобна. Вы можете самостоятельно определять с какой скоростью проходить обучение. В среднем у наших учеников уходит 2-4 месяца на завершение курса. Но вы можете справиться и быстрее.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 bg-warning">
                <div class="z-depth-4" >
                    <div class="pt-5 pb-3 pl-3 pr-3">
                        <h3 class="advantage-title">Демо доступ</h3>
                        <p class="advantage-description">
                            Сомневаетесь подойдет ли вам курс? У нас есть эксклюзивное предложение.
                            <br>
                            Всего за 625 грн. вы получаете доступ к курсу "Мануальное тестирование ПО" и к первым 3 урокам из всех остальных курсов, которые есть на нашем сайте. Так вы сможете убедиться в высоком качестве и полезности нашего материала.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
