<section class="pt-5">
    <div class="container">
                <p class="text-center">
                    <strong class="text-danger">QA.live.study</strong> - онлайн платформа по обучению <strong class="text-danger">тестированию программного обеспечения</strong> и изучению инструментов для различных видов тестирования
                </p>
        </div>
    </div>
</section>
