<section class="section-rate pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col s12 text-center">
                <h3 class="section-title">Тарифы</h3>
            </div>
        </div>
        <div class="row">
            <!--            s12 m12 l4-->
            <div class="col-12 col-sm-12 col-md-4 mb-5">
                <div class="z-depth-3">
                    <div class="price-block">
                        <div class="price-block__header">
                            <div class="price-block__plan">Basic</div>
                            <div class="price-block__price">
                                <div class="price-block__quantity">625<span class="price-block__currency">грн.</span></div>
                                <div class="price-block__currency">≈25</div>
                                <div class="price-block__currency">месяц</div>
                            </div>
                        </div>
                        <div class="price-block__description">
                            <div class="price-block__description-item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>
                                    Доступ к обучающей платформе на 1 месяц
                                </span>
                            </div>
                            <div class="price-block__description-item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>
                                    Полный доступ ко всем курсам, кроме автоматизации
                                </span>
                            </div>
                            <div class="price-block__description-item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>
                                    Фидбеки по домашним заданиям
                                </span>
                            </div>
                        </div>
                        <div class="price-block__footer">
                            <a href="#!" class="waves-effect waves-light btn-large">Оформить подписку</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 mb-5">
                <div class="z-depth-3">
                    <div class="price-block">
                        <div class="price-block__header">
                            <div class="price-block__plan">Standart</div>
                            <div class="price-block__price">
                                <div class="price-block__quantity">1250<span class="price-block__currency">грн.</span></div>
                                <div class="price-block__currency">≈50</div>
                                <div class="price-block__currency">месяц</div>
                            </div>
                        </div>
                        <div class="price-block__description">
                            <div class="price-block__description-item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>
                                    Доступ к обучающей платформе на 1 месяц
                                </span>
                            </div>
                            <div class="price-block__description-item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>
                                    Полный доступ ко всем курсам, включая курсы по автоматизации
                                </span>
                            </div>
                            <div class="price-block__description-item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>
                                    Методическое пособие (конспекты лекций, примеры кода)
                                </span>
                            </div>
                            <div class="price-block__description-item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>
                                    Четыре индивидуальных занятий в месяц
                                </span>
                            </div>
                            <div class="price-block__description-item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>
                                    Доступ в закрытый Slack-чат
                                </span>
                            </div>
                            <div class="price-block__description-item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>
                                    Фидбеки по домашним заданиям
                                </span>
                            </div>
                            <div class="price-block__description-item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>
                                    Возможность заказать индивидуальную консультацию и разбор всех домашних заданий
                                </span>
                            </div>
                        </div>
                        <div class="price-block__footer">
                            <a href="#!" class="waves-effect waves-light btn-large">Оформить подписку</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 mb-5">
                <div class="z-depth-3">
                    <div class="price-block">
                        <div class="price-block__header">
                            <div class="price-block__plan">Premium</div>
                            <div class="price-block__price">
                                <div class="price-block__quantity">2500<span class="price-block__currency">грн.</span></div>
                                <div class="price-block__currency">≈100</div>
                                <div class="price-block__currency">месяц</div>
                            </div>
                        </div>
                        <div class="price-block__description">
                            <div class="price-block__description-item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>
                                    Все из тарифа Standart
                                </span>
                            </div>
                            <div class="price-block__description-item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>
                                    Возможность учавствовать в премиальном обучении (практические онлайн занятия)
                                </span>
                            </div>
                            <div class="price-block__description-item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>
                                    Индивидуальная проверка всех домашних заданий из каждого курса
                                </span>
                            </div>
                            <div class="price-block__description-item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>
                                    Гарантированный сертификат о завершении каждого из курсов (отправляем заламинированный сертификат почтой)
                                </span>
                            </div>
                        </div>
                        <div class="price-block__footer">
                            <a href="#!" class="waves-effect waves-light btn-large">Оформить подписку</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div>
                    <a href="#!" class="btn btn-outline-primary btn-lg btn-block">Детальнее</a>
                </div>
            </div>
        </div>
    </div>
</section>