<section class="section-tools pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3 class="section-title">Необходимые инструменты для тестирования</h3>
            </div>
        </div>
        <div id="tools" class="wraper select-all-items show-items-rows js-masonry"
             data-masonry-options='{"columWidth": ".item"}'>
            <!--image gallery-->
        </div>

    </div>
</section>
