<section class="section-about-top pt-5 pb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <p class="section-home-top__text text-center">
                    <strong class="text-danger">QA.live.study</strong>
                    <span class="text-info"> - онлайн платформа по обучению <strong class="text-danger">тестированию программного обеспечения</strong> и изучению инструментов для различных видов тестирования</span>
                </p>
                <div class="section-home-top__links d-flex justify-content-center mt-5">
                    <a href="/reg" class="btn btn-outline-primary mr-3">Зарегистрироваться</a>
                    <a href="/login" class="btn btn-primary text-white">Войти</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 text-center">
                <img src="img/img_process.png" class="section-home-top__img" alt="" width="100%">
            </div>
        </div>
    </div>
</section>