<section class="section-advantages pb-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col s12 text-center">
                <h3 class="section-title">Наши преимущества</h3>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-12 col-md-12">
                <div class="z-depth-4" style="background-color: #76ae63;">
                    <div class="section-advantages__best pt-5 pb-3 pl-3 pr-3 shadow">
                        <h3 class="section-advantages__best-title">Кто мы</h3>
                        <p class="section-advantages__best-description">
                            — Онлайн-школа <span class="text-primary">[QA.</span><span class="text-danger">live.study</span><span class="text-primary">]</span> совмещает в себе преимущества онлайн обучения и живого взаимодействия с преподавателем. У нас более 3-х лет опыта проведения online курсов по Тестированию ПО и другим технологиям.
                            <br>
                            — Невероятно понятные и детальные лекции. Даже самые базовые понятия детально разобраны и разложены на молекулы.
                            <br>
                            — Видео лекции доступны 24/7, конспекты с ключевой информацией, тесты и упражнения для закрепления знаний.
                            <br>
                            — Основное домашнее задание, которое будет проверено нашей командой и как результат — вы получаете CodeReview в текстовом или видео формате.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 mb-4">
                <div class="z-depth-4" style="background-color: #64798a;">
                    <div class="section-advantages__best pt-5 pb-3 pl-3 pr-3 shadow">
                        <h3 class="section-advantages__best-title">Одна цена за все курсы</h3>
                        <p class="section-advantages__best-description">
                            Оформив подписку, которая оплачивается один раз в месяц, вы автоматически получаете доступ ко всем обучающим курсам, размещенным на нашем сайте.
                            <br>
                            Как показала практика, помесячная оплата более удобна. Вы можете самостоятельно определять с какой скоростью проходить обучение. В среднем у наших учеников уходит 2-4 месяца на завершение курса. Но вы можете справиться и быстрее.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="z-depth-4" style="background-color: #f9a825;">
                    <div class="section-advantages__best pt-5 pb-3 pl-3 pr-3 shadow">
                        <h3 class="section-advantages__best-title">Демо доступ</h3>
                        <p class="section-advantages__best-description">
                            Сомневаетесь подойдет ли вам курс? У нас есть эксклюзивное предложение.
                            <br>
                            Всего за 270 грн. вы получаете доступ к курсу «Понятный JavaScript (Beginner)» и к первым 5 уроком из всех остальных курсов, которые есть на нашем сайте. Так вы сможете убедиться в высоком качестве и полезности нашего материала.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>