<!DOCTYPE html>
<html lang="en">
<head>
    <title>QA.Live.Study</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="img/png" href="img/logo_50x50.png" />
    <link rel="stylesheet" href="css/404.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="text-center pt-1">
    <div class="container">
        <a href="/"><img src="img/logo_300x300.png" class="" alt="" style="height: 150px;"></a>
        <h1 class="font-weight-bold display-2 text-danger pb-5">500: Internal Server Error</h1>
        <div class="text-center pb-4">
            <a href="/" class="btn btn-light btn-lg">Перейти на главную</a>
        </div>
        <div class="text-center">
            <img src="img/img_process.png" class="" alt="" width="40%">
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>