<% include layouts/header.ejs %>

        <div class="d-flex align-items-center justify-content-center login-page">
                <div class="card text-center">
                    <h2 class="card-header text-white bg-primary">
                        Авторизация
                    </h2>
                    <div class="p-sm-3">
                        <form name="loginForm"
                              class="login-form d-flex flex-column align-items-center mt-3"
                              method="post">
                            <input id="login-email"
                                   type="text"
                                   class="form-control mb-4 w-75"
                                   placeholder="Ваш email"
                                   required
                                   autofocus>
                            <input id="login-password"
                                   type="password"
                                   class="form-control mb-4 w-75"
                                   placeholder="Пароль"
                                   required>
                            <button class="btn btn-lg btn-primary btn-block mb-4 login-button w-75"
                                    type="submit"
                                    id="loginBtn"
                                    >Войти
                            </button>
                            <div class="custom-control custom-checkbox w-100 d-flex align-items-center justify-content-between">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="rememberMeCheckbox">
                                <label class="custom-control-label"
                                       for="rememberMeCheckbox">
                                       Запомнить меня
                                </label>
                                <a href="/help" class="ml-3">Нужна помощь?</a>
                            </div>
                        </form>
                    </div>
                    <a href="/password-recovery"
                       class="btn btn-link">
                       Забыли пароль?
                    </a>
                   <div class="d-flex justify-content-between p-sm-3 login-footer">
                    <a href="/" class="mr-3">Вернуться на главную</a>
                    <a href="/registration" class="mr-3">Создать аккаунт </a>
                </div>
                </div>
        </div>

<script src="<%= assetFingerprint('js/login.js') %>"></script>

<% include layouts/footer.ejs %>
