<link rel="stylesheet" href="<%= assetFingerprint('/css/user/user-account.css') %>">

<% include ./layouts/header.ejs %>
<% include ./layouts/layout-user-account.ejs %>

<button class="scroll-to-top-btn"><i class="fas fa-arrow-up"></i></button>

<% include ./layouts/footer.ejs %>

<script src="<%= assetFingerprint('/js/backtotop.js') %>"></script>