<link rel="stylesheet" href="<%= assetFingerprint('/css/user/user-account.css') %>">
<link rel="stylesheet" href="<%= assetFingerprint('/css/support/button-up.css') %>">

<% include layouts/header.ejs %>
<% include layouts/section-user-account.ejs %>

<a href="#" title="Вернуться к началу" class="topbutton"><i class="arrow up"></i></a>

<% include layouts/footer.ejs %>