body {
    width: 100%;
    min-width: 480px !important;
}

html, body {
    height: 100%;
}

body {
    background: linear-gradient(to bottom right, #3ae2ce, blue) no-repeat fixed;

}

.btn-light {
    color: red !important;
}

.btn-light:hover {
    color: blue !important;
}