.btn-large {
  color: #ffffff;
  height: 54px;
  line-height: 54px;
  font-size: 15px;
  padding: 0 28px;
  text-transform: uppercase;
  border: none;
  display: inline-block;
  background-color: #007bff;
  border-radius: 0.25rem !important;
}
.btn-large:hover {
  color: #ffffff !important;
  background-color: #0069d9 !important;
}
