.course {


&-item {
  box-shadow: 0 4px 15px 0 rgba(115,125,155,0.3),
  0 -4px 16px 0 rgba(10,19,49,0.08);
 /*  .tablet({
    display: flex;
    flex-direction: column;
  }); */
  .mobile({
    box-shadow: 0 4px 15px 0 rgba(115,125,155,0.3);
  });
}
 &-image {
  background-image: linear-gradient(to bottom right, white, #cdf6ff);
  height: 150px;
  .mobile({
    width: 50%;
    margin: 0 auto 12px;
    height: auto;
  });
 }
 &-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  .tablet({
      width: 100%;
  });
  .btn {
    width: 50%;
  }
 }
}
