.scroll-to-top-btn {
  opacity: 0;
  visibility: hidden;
  width: 54px;
  height: 54px;
  border: none;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 35px;
  right: 45px;
  cursor: pointer;
  color: @baseWhite;
  font-size: 16px;
  background-color: #0062cc;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;

  &:hover {
    text-decoration: none;
    color: @baseWhite;
    opacity: 0.7;
  }

  &:focus {
    outline: none;
  }

  i {
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 29px;
    position: relative;
    bottom: 4px;
    margin-right: 0 !important;
  }

  &.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
}

.show {
  visibility: visible;
  opacity: 1;
}
