<div class="admin">
    <div class="container">
        <a href="/admin/users" class="btn btn-primary">Пользователи</a>
        <a href="/admin/courses" class="btn btn-success">Курсы</a>
        <a href="/admin/properties" class="btn btn-success">Настройки администратора</a>
    </div>
</div>