<div class="admin">
    <div class="container">
        <a href="/views/admin/users.ejs" class="btn btn-primary">Пользователи</a>
        <a href="/views/admin/courses.ejs" class="btn btn-success">Курсы</a>
        <a href="/views/admin/courses.ejs" class="btn btn-success">Настройки администратора</a>
    </div>
</div>