<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QA.Live.Study</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="img/png" href="img/logo_50x50.png" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/login-reg/login-reg.css" />
  </head>
  <body>
    <section class="section-login-form mt-1">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class=".col-12">
            <div class="card border-info text-center">
              <div class="card-header">
                Регистрация
              </div>
              <div class="card-body">
                <div class="card-body__img item-transition pt-2 pb-2">
                  <a href="/"><img src="img/logo_500x500.png" width="175"/></a>
                </div>
                <form class="form-signin" method="post" action="/reg">
                  <input
                    type="text"
                    name="name"
                    class="form-control mb-2"
                    placeholder="Ваше Имя"
                  />
                  <input
                    type="text"
                    name="lastname"
                    class="form-control mb-2"
                    placeholder="Ваша Фамилия"
                  />
                  <input
                    type="text"
                    name="login"
                    class="form-control mb-2"
                    placeholder="Ваш Email*"
                    autofocus
                    required
                  />
                  <input
                    type="password"
                    name="password"
                    class="form-control mb-2"
                    placeholder="Пароль*"
                    required
                  />
                  <input
                    type="password"
                    name=""
                    class="form-control mb-2"
                    placeholder="Подтверждение пароля*"
                    required
                  />
                  <button
                    class="btn btn-lg btn-primary btn-block mb-1"
                    type="submit"
                  >
                    Зарегистрироваться
                  </button>
                  <a href="/help" class="float-right">Нужна помощь?</a>
                </form>
              </div>
            </div>
            <a href="/" class="float-left">Вернуться на главную</a>
            <a href="/login" class="float-right">Уже есть аккаунт </a>
          </div>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
