body {
  background-color: #f5f5f5;
  width: 100%;
  min-width: 480px !important;
}

a {
  cursor: pointer !important;
}

.item-transition {
  transition: all 1s ease;
  cursor: pointer !important;
}

.item-transition:hover {
  -webkit-filter: brightness(120%);
  -webkit-transform: scale(1.1);
}

.card-header {
  padding: 5px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-image: linear-gradient(to bottom right, #3ae2ce, blue);
}

.card-body__img {
  padding-left: 70px;
  padding-right: 70px;
}

.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-header {
  padding: 0.75rem 5.25rem !important;
}

input:valid {
  border-bottom: 1px solid green;
}

input:invalid {
  border-bottom: 1px solid red;
}
