body {
  width: 100%;
}

.topbutton {
  opacity: 0;
  visibility: hidden;
  width: 54px;
  height: 54px;
  border: 2px solid #737d9b;
  border-radius: 50%;
  background: #f0f2f7;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 35px;
  right: 45px;
  cursor: pointer;
  color: #A1A8BD;
  font-size: 16px;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}

.topbutton:hover {
  text-decoration: none;
  color: #A1A8BD;
  opacity: 0.8;

}

.topbutton i {
 font-family: "FontAwesome";
 font-style: normal;
 font-size: 26px;
 position: relative;
 bottom: 4px;
 margin-right: 0 !important;
}

.topbutton:focus {
  outline: none;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.show {
  visibility: visible;
  opacity: 1;
}