body {
    width: 100%;
    min-width: 480px !important;
}

.topbutton {
    width: 54px;
    border: 2px solid #ccc;
    background: #f7f7f7;
    text-align:center;
    padding: 10px;
    position: fixed;
    bottom: 35px;
    right: 45px;
    cursor: pointer;
    color: #333;
    font-family: verdana;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.topbutton i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 0 !important;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}